@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h2 {
  font-weight: 600;
}

p {
  font-weight: 400;
}
